.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
}

.table-container {
    margin-bottom: 20px;
}

.table-cell {
    padding: 10px;
}

.button {
    margin-right: 10px;
}
