.home {
    display: flex;
    height: 100vh;
}
.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
}

.drawer-header {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
}

.MuiDrawer-paper {
    width: 250px;
}
