.container {
    width: 100%;
    height: 60vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.text-field {
    margin-bottom: 20px;
    color: #fff;
}

.textfield_label {
    color: white !important; 
}

.textfield_input {
    color: white !important; 
}

.textfield_input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.submit-button {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
}
.submit-button:hover {
    background-color: #007bff;
    color: #fff;
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full-width {
    grid-column: span 2;
}
.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8)
}
